@import '~office-ui-fabric-react/dist/sass/References.scss';
@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';

div[class^='pageTitle_']{
  display: none !important;
}
div.commandBarWrapper {
  display: none !important;
}

.usefulLinksForm {
  .container {
    max-width: 700px;
    margin: 0px auto;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
  }

  .row {
    @include ms-Grid-row;
    @include ms-fontColor-white;
    background-color: $ms-color-themeDark;
    padding: 20px;
  }

  .column {
    @include ms-Grid-col;
    @include ms-lg10;
    @include ms-xl8;
    @include ms-xlPush2;
    @include ms-lgPush1;
  }

  .title {
    @include ms-font-xl;
    @include ms-fontColor-white;
  }

  .subTitle {
    @include ms-font-l;
    @include ms-fontColor-white;
  }

  .description {
    @include ms-font-l;
    @include ms-fontColor-white;
  }

  .button {
    // Our button
    text-decoration: none;
    height: 32px;

    // Primary Button
    min-width: 80px;
    background-color: $ms-color-themePrimary;
    border-color: $ms-color-themePrimary;
    color: $ms-color-white;

    // Basic Button
    outline: transparent;
    position: relative;
    font-family: "Segoe UI WestEuropean","Segoe UI",-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: $ms-font-size-m;
    font-weight: $ms-font-weight-regular;
    border-width: 0;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    padding: 0 16px;

    .label {
      font-weight: $ms-font-weight-semibold;
      font-size: $ms-font-size-m;
      height: 32px;
      line-height: 32px;
      margin: 0 4px;
      vertical-align: top;
      display: inline-block;
    }
  }

  //Useful Links form CSS
  
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
  font-family: "Segoe UI"
}
/* HEADERT SECTION */
.monjuTitle {
  display: flex;
  align-items: center;
  font-size: 20px;
  margin-bottom: 10px;
  border-bottom: 1px solid #EFEFEF;
  padding: 8px 0 12px 5px;
}
.customSubLogo {
  background-color: #EE1100;
  color: #FFFFFF;
  width: 40px;
  height: 40px;
  display: block;
  margin-right: 5px;
  text-align: center;
  padding: 4px 0;
  border-radius: 5px;
}
.backButtonWrapper {
  display: flex;
  align-items: center;
}

.backButtonText {
  font-family: OpenSans-Semibold;
  font-size: 14px;
  margin-right: 30px;
  color: #000000;
cursor:pointer;
}

.backButton {
  background-image: url('./images/arrowBack24.svg');
  background-repeat: no-repeat;
  background-position: center;
width: 24px;
  height: 24px;
  display: block;
}

.breadcrumbFwdIcon {
  background-image: url('./images/breadcrumbFwdIcon.png');
  background-repeat: no-repeat;
  background-position: center;
width: 16px;
  height: 16px;
  margin-top: 4px
}

.breadcrumbLink a {
  color: #000000;
}

.bredcrumbActive {
  color: #898989;
}

.formLabel {
  font-size: 13px;
  padding-left: 8px;
  margin-bottom: 0;
}

.formLabelMain {
  margin-bottom: 0;
}

.customInputStyle {
  border-radius: 4px;
}

.formGroup {
  margin-bottom: 15px;
}

.referenceHeading{
  font-size: 15px;
}
/* END */



.ms-backgroundImage {
  background-image: none!important
}

body {
  font-family: "Segoe UI"
}


* {
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch
}


#DeltaPageStatusBar,#ms-designer-ribbon,#suiteBar,#suiteBarDelta {
  display: none!important
}

#s4-ribbonrow,#s4-titlerow {
  display: none!important
}


.container {
  margin-right: auto;
  margin-left: auto
}
.lblNewForm,.txtboxInput{
width:100%;
}

input[type=text], select,textarea {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

.txtAreaInput{width: 100%;
  border: 1px solid #ddd;
  padding: 10px;}

.lblNewForm{
  display: inline-block;
  font-weight: 600;
  padding: 10px;
}

.section-divider
  {
    padding: 10px ;
    color: #000000;
    background: #EFEFEF 0% 0% no-repeat padding-box;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
  }

  .demoform {
      margin-top: 1em;
      padding: 15px;
      margin-bottom: 5px;
  }
.attachedDoc{
position:relative;
}
.attachedDoc .iconBlk{
position:absolute;
left:20px;
bottom:28px;
background-repeat: no-repeat;
background-position: center;
display:block;
}
.attachedDoc .iconBlk i{
background-image: url('./images/attach_file.svg');
display:inline-block;
height:16px;
width:17px;
}

  .shadow-sm {
      box-shadow: 0 .125rem .25rem #898989!important;
  }

  .formHeader h1{
      color: #4a4a4a;
      font-size: 18px;
      font-weight: 600;
      margin-top: 5px;
      margin-bottom: 15px;
      line-height: 1.2;
  }

  .btn {
      display: inline-block;
      font-weight: 500;
      margin:5px;
      color: #212529;
      text-align: center;
      vertical-align: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      background-color: transparent;
      border: 1px solid transparent;
      padding: .375rem .75rem;
      font-size: 1rem;
      line-height: 1.5;
      border-radius: .25rem;
      transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }
      .btn-cancel{
      border: 1px solid red;
      color: red;
  cursor:pointer;
  }

.btnSection{float: right;}
  .btn-save{
      border: 1px solid #898989;
      background-color: #898989;
      color: #fff;
      float: left;
  cursor:pointer;
  }

  .btn-publish {
      background-color: red;
      color: #fff;
      border: none;
  cursor:pointer;
      padding:8px 22px;
  }

 @media (min-width: 768px) {
      .container {
          width:750px
      }
  }
  
  @media (min-width: 992px) {
      .container {
          width:970px
      }
  }
  
  @media (min-width: 1200px) {
      .container {
          width:1170px
      }
  }
}
